[Desktop Entry]
Name=Manjaro Material Blue
Name[ca]=Manjaro Material Blue
Name[ca@valencia]=Manjaro Material Blue
Name[da]=Manjaro Material Blue
Name[en_GB]=Manjaro Material Blue
Name[es]=Manjaro Material Blue
Name[fi]=Manjaro Material Blue
Name[gl]=Manjaro Material Blue
Name[it]=Manjaro Material Blue
Name[nl]=Manjaro Material Blue
Name[nn]=Manjaro Material Blue
Name[pl]=Manjaro Material Blue
Name[pt]=Manjaro Material Blue
Name[pt_BR]=Manjaro Material Blue
Name[sk]=Manjaro Material Blue
Name[sl]=Manjaro Material Blue
Name[sr]=Manjaro Material Blue
Name[sr@ijekavian]=Manjaro Material Blue
Name[sr@ijekavianlatin]=Manjaro Material Blue
Name[sr@latin]=Manjaro Material Blue
Name[sv]=Manjaro Material Blue
Name[uk]=Manjaro Material Blue
Name[x-test]=xxManjaro Material Bluexx
Name[zh_CN]=Manjaro Material Blue
Name[zh_TW]=Manjaro Material Blue
X-KDE-PluginInfo-Name=Manjaro Material Blue
X-KDE-PluginInfo-Author=hypnoshot
X-KDE-PluginInfo-Website=https://www.deviantart.com/hypnoshot/art/Manjaro-material-blue-4k-742695299
X-KDE-PluginInfo-License=©2018-2019 Hypnoshot
